BattleTank/Content/StarterContent/Textures/T_ground_Moss_D.uasset
BattleTank/Content/StarterContent/Textures/T_Ground_Gravel_D.uasset
BattleTank/Content/StarterContent/Textures/T_Concrete_Poured_D.uasset
BattleTank/Content/StarterContent/Textures/T_CobbleStone_Pebble_N.uasset
BattleTank/Content/StarterContent/Textures/T_Brick_Cut_Stone_D.uasset
BattleTank/Content/StarterContent/Textures/T_Brick_Clay_Old_D.uasset
BattleTank/Content/StarterContent/Textures/T_Rock_Slate_D.uasset
BattleTank/Content/StarterContent/Textures/T_Ground_Grass_D.uasset
BattleTank/Content/StarterContent/Textures/T_CobbleStone_Pebble_D.uasset
BattleTank/Content/StarterContent/Textures/T_MacroVariation.uasset
BattleTank/Content/StarterContent/Textures/T_Concrete_Grime_D.uasset
BattleTank/Content/StarterContent/Textures/T_Ground_Grass_N.uasset
